<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="index.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- import iview -->
    <link rel="stylesheet" href="https://unpkg.com/iview/dist/styles/iview.css">
    <script src="https://unpkg.com/iview/dist/iview.min.js"></script>
    <script src="component.js"></script>
    <script src="jquery.min.js"></script>
    <script src="expander.min.js"></script>
</head>

<body>
    <div id="app">
        <m-header></m-header>
        <carousel autoplay v-model="bannerIndex" loop>
            <carousel-item v-for="bannerImg in bannerImgs">
                <div style="max-height:350px">
                    <img :src="bannerImg" class="banner" />
                </div>
            </carousel-item>
        </carousel>

        <div class="section-header">
            <p class="section-title">医 药</p>
        </div>
        <div class="section">
            <div style="width:50%; text-align: center; border-right: 1px ">
                <carousel autoplay v-model="medicineBannerIndex" loop radius-dot arrow="always">
                    <carousel-item v-for="i in medicineTitles">
                        <img :src="i.img" class="small-banner" />
                    </carousel-item>
                </carousel>
            </div>
            <div style="width:50%; padding-left: 20px;">
                <div v-for="i in medicineTitles" class="title1-div">
                    <a class="title1" :href="i.title">{{i.title}}</a>
                    <span class="title1-time">{{i.time}}</span>
                </div>
            </div>
        </div>

        <div class="section-header">
            <p class="section-title">饮食</p>
        </div>
        <div class="section">
            <div style="width:50%; border-right: 1px solid #986C33 ">
                <div v-for="i in dietTitles.slice(0,dietTitles.length/2)" class="title2-div">
                    <a class="title1" :href="i.title">{{i.title}}</a>
                    <span class="title1-time">{{i.time}}</span>
                </div>
            </div>
            <div style="width:50%; padding-left: 20px;">
                <div v-for="i in dietTitles.slice(dietTitles.length/2)" class="title1-div">
                    <a class="title1" :href="i.title">{{i.title}}</a>
                    <span class="title1-time">{{i.time}}</span>
                </div>
            </div>
        </div>

        <div class="section-header">
            <p class="section-title">服饰与物件</p>
        </div>
        <div class="section">
            <div style="width:50%; border-right: 1px solid #986C33 ">
                <h3 class="title2">服饰/美妆</h3>
                <div v-for="i in clothTitles" class="title2-div">
                    <a class="title1" :href="i.title">{{i.title}}</a>
                    <span class="title1-time">{{i.time}}</span>
                </div>
            </div>
            <div style="width:50%; padding-left: 20px;">
                <h3 class="title2">首饰物件</h3>
                <div v-for="i in jewelryTitles" class="title1-div">
                    <a class="title1" :href="i.title">{{i.title}}</a>
                    <span class="title1-time">{{i.time}}</span>
                </div>
            </div>
        </div>

        <div class="section-header">
            <p class="section-title">风俗节庆</p>
        </div>
        <div class="section">
            <div>
                <a href="#"><img class="img1" data-expander='{animation:"fade"}' src="img/5.jpg"></a>
                <a href="#"><img class="img1" data-expander='{animation:"fade"}' src="img/5.jpg"></a>
                <a href="#"><img class="img1" data-expander='{animation:"fade"}' src="img/5.jpg"></a>
                <a href="#"><img class="img1" data-expander='{animation:"fade"}' src="img/5.jpg"></a>
            </div>
        </div>
        <div class="footer">
            <h5>红楼社区</h5>
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                bannerIndex: 0,
                // 顶部的图片切换
                bannerImgs: ['img/bg1.jpg', 'img/bg2.jpeg'],
                medicineBannerIndex: 0,
                // 饮食二级标题
                dietTitles: [{
                        title: 'test',
                        time: '19-3-3',
                        img: 'img/bg1.jpg'
                    },
                    {
                        title: 'test2',
                        time: '19-3-3',
                        img: 'img/bg2.jpg'
                    },
                    {
                        title: 'test2',
                        time: '19-3-3',
                        img: 'img/5.jpg',
                    },
                    {
                        title: 'test2',
                        img: 'img/6.jpg',
                        time: '19-3-3'
                    },
                    {
                        title: 'test2',
                        img: 'img/7.jpg',
                        time: '19-3-3'
                    },
                ],
                // 服饰二级标题
                clothTitles: [{
                        title: 'test',
                        img: '',
                        time: '19-3-3'
                    },
                    {
                        title: 'test2',
                        img: '',
                        time: '19-3-3'
                    },
                    {
                        title: 'test2',
                        img: '',
                        time: '19-3-3'
                    },
                    {
                        title: 'test2',
                        img: '',
                        time: '19-3-3'
                    },
                    {
                        title: 'test2',
                        img: '',
                        time: '19-3-3'
                    },
                ],
                // 首饰二级标题
                jewelryTitles: [{
                        title: 'test',
                        time: '19-3-3'
                    },
                    {
                        title: 'test2',
                        time: '19-3-3'
                    },
                    {
                        title: 'test2',
                        time: '19-3-3'
                    },
                    {
                        title: 'test2',
                        time: '19-3-3'
                    },
                    {
                        title: 'test2',
                        time: '19-3-3'
                    },
                ],
                // 家具二级标题
                funitureTitles: [{
                        title: 'test',
                        time: '19-3-3'
                    },
                    {
                        title: 'test2',
                        time: '19-3-3'
                    },
                    {
                        title: 'test2',
                        time: '19-3-3'
                    },
                    {
                        title: 'test2',
                        time: '19-3-3'
                    },
                    {
                        title: 'test2',
                        time: '19-3-3'
                    },
                ],
                // 医药二级标题
                medicineTitles: [{
                        title: 'test',
                        img: 'img/bg1.jpg',
                        time: '19-3-3'
                    },
                    {
                        title: 'test2',
                        img: 'img/bg1.jpg',
                        time: '19-3-3'
                    },
                    {
                        title: 'test2',
                        img: 'img/bg2.jpeg',
                        time: '19-3-3'
                    },
                    {
                        title: 'test2',
                        img: 'img/bg1.jpg',
                        time: '19-3-3'
                    },
                    {
                        title: 'test2',
                        img: 'img/bg2.jpeg',
                        time: '19-3-3'
                    },
                ],
                // 风俗节庆二级标题
                festivalTitles: [{
                        title: 'test',
                        time: '19-3-3'
                    },
                    {
                        title: 'test2',
                        time: '19-3-3'
                    },
                    {
                        title: 'test2',
                        time: '19-3-3'
                    },
                    {
                        title: 'test2',
                        time: '19-3-3'
                    },
                    {
                        title: 'test2',
                        time: '19-3-3'
                    }
                ]
            },
            methods: {

            }
        });
        $(function () {
            //导航
            $(".com-nav-list").mouseenter(function () {
                $(this).children(".com-sub-box").stop(false, true).slideDown();
            }).mouseleave(function () {
                $(this).children(".com-sub-box").stop(false, true).slideUp();
            });
            $(".com-nav-list").click(function () {
                $(this).addClass("current-nav").siblings().removeClass("current-nav");
            });
        });
    </script>
</body>

</html>