.top-img {
    background: url(img/com-top-bg.png) no-repeat top;
    width: 100%;
    height: 40px;
}

.top {
    background-color: #FDFAF6;
    border-bottom: 5px solid #704D33;
}

.nav {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    display: block;
    padding: 20px 40px 20px 40px;
    color: #704D33;
    font-weight: bold
}

.nav-item:hover {
    color: white;
    background-color: #704D33
}

.banner {
    width:100%;
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.small-banner {
    /* width: 100%; */
    height: 200px;
}

.section-header {
    width: 70%;
    margin: 80px auto 40px auto;
    padding-bottom: 10px;
    background: url(img/section.png) no-repeat center;
    text-align: center;
    border-bottom: 2px #704D33 solid;
}

.section-title {
    font-weight: bold;
    font-size: 18px;
    color: rgb(112, 77, 51)
}

.section {
    background: url(img/sy-com-bg.jpg) no-repeat center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title1-div {
    margin-right: 50px;
    border-bottom: 1px dotted #986c33;
}

.title1 {
    font-size: 16px;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
}

.title1:hover {
    color: #986C33;
}

.title1-time {
    float: right;
    margin-top: 10px;
    margin-right: 50px;
}

.title2 {
    text-align: center;
    color: #333;
}

.title2-div {
    margin: 0 20px 0 30px;
    border-bottom: 1px dotted #986c33;
}

.footer {
    margin: 20px auto;
    max-width: 1500px;
    padding: 20px;
    border-top: #704D33 1px solid;
    text-align: center;
}

.img1 {
    width: 200px;
    margin: 0 20px 0 20px;
}

.content-bg {
    background: url(img/sy-bg.jpg) no-repeat center;
    margin: 0 auto;
}

.content-title {
    font-size: 30px;
    color: #000;
    text-align: center;
    padding: 20px 0 60px 0;
}

.content-body {
    font-size: 18px;
    color: #4c4c4c;
    text-indent: 40px;
    line-height: 30px;
}

.content-div {
    max-width: 1080px;
    margin: 0 auto;
}