<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- import iview -->
    <link rel="stylesheet" href="https://unpkg.com/iview/dist/styles/iview.css">
    <script src="https://unpkg.com/iview/dist/iview.min.js"></script>
    <script src="js/component.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/expander.min.js"></script>
</head>

<body>
    <div id="app">
        <m-header></m-header>
        <carousel autoplay v-model="bannerIndex" loop autoplay-speed="2850">
            <carousel-item v-for="bannerImg in bannerImgs">
                <div style="max-height:350px">
                    <img :src="bannerImg" class="banner" />
                </div>
            </carousel-item>
        </carousel>

        <div class="section-header" id="medicine">
            <p class="section-title">医 药</p>
        </div>
        <div class="section">
            <div style="width:50%; text-align: center; border-right: 1px ">
                <carousel autoplay v-model="medicineBannerIndex" loop radius-dot arrow="always">
                    <carousel-item v-for="i in medicineTitles">
                        <img :src="i.img" class="small-banner" />
                    </carousel-item>
                </carousel>
            </div>
            <div style="width:50%; padding-left: 20px;">
                <div v-for="i in medicineTitles" class="title1-div">
                    <a class="title1" :href="i.link">{{i.title}}</a>
                    <span class="title1-time">{{i.time}}</span>
                </div>
            </div>
        </div>

        <div class="section-header" id="diet">
            <p class="section-title">饮食</p>
        </div>
        <div class="section">
            <div style="width:50%; border-right: 1px solid #986C33 ">
                <div v-for="i in dietTitles.slice(0,dietTitles.length/2)" class="title2-div">
                    <a class="title1" :href="i.link">{{i.title}}</a>
                    <span class="title1-time">{{i.time}}</span>
                </div>
            </div>
            <div style="width:50%; padding-left: 20px;">
                <div v-for="i in dietTitles.slice(dietTitles.length/2)" class="title1-div">
                    <a class="title1" :href="i.link">{{i.title}}</a>
                    <span class="title1-time">{{i.time}}</span>
                </div>
            </div>
        </div>

        <div class="section-header" id="funiture">
            <p class="section-title">家具设计</p>
        </div>
        <div class="section">
            <div style="width:50%; padding-left: 20px;">
                <div v-for="i in funitureTitles" class="title1-div">
                    <a class="title1" :href="i.link">{{i.title}}</a>
                    <span class="title1-time">{{i.time}}</span>
                </div>
            </div>
            <div style="width:50%; text-align: center; border-left: 1px ">
                <carousel autoplay v-model="funitureBannerIndex" loop radius-dot arrow="always">
                    <carousel-item v-for="i in funitureTitles">
                        <img :src="i.img" class="small-banner" />
                    </carousel-item>
                </carousel>
            </div>
        </div>

        <div class="section-header" id="cloth">
            <p class="section-title">服饰与物件</p>
        </div>
        <div class="section">
            <div style="width:50%; border-right: 1px solid #986C33 ">
                <h3 class="title2">服饰/美妆</h3>
                <div v-for="i in clothTitles" class="title2-div">
                    <a class="title1" :href="i.link">{{i.title}}</a>
                    <span class="title1-time">{{i.time}}</span>
                </div>
            </div>
            <div style="width:50%; padding-left: 20px;">
                <h3 class="title2">首饰物件</h3>
                <div v-for="i in jewelryTitles" class="title1-div">
                    <a class="title1" :href="i.link">{{i.title}}</a>
                    <span class="title1-time">{{i.time}}</span>
                </div>
            </div>
        </div>

        <div class="section-header" id="festival">
            <p class="section-title">风俗节庆</p>
        </div>
        <div class="section">
            <div style="display: flex">
                <div v-for="i in festivalTitles" style="text-align:center">
                    <div>
                        <img class="img1" data-expander='{animation:"fade"}' :src="i.img">
                    </div>
                    <a class="festivalLink" :href="i.link">{{i.title}}</a>
                </div>
            </div>
        </div>
        <div class="footer">
            <h5>红楼社区</h5>
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                bannerIndex: 0,
                // 顶部的图片切换
                bannerImgs: ['img/bg1.jpg', 'img/bg2.jpeg'],
                medicineBannerIndex: 0,
                funitureBannerIndex: 0,
                // 饮食二级标题
                dietTitles: [{
                    title: '荤菜',
                    link:'#',
                    time: '19-3-3',
                    img: 'img/bg1.jpg'
                },
                {
                    title: '素菜',
                    link:'#',
                    time: '19-3-3',
                    img: 'img/bg2.jpg'
                },
                {
                    title: '酱菜',
                    link:'#',
                    time: '19-3-3',
                    img: 'img/5.jpg',
                },
                {
                    title: '汤（羹）',
                    link:'#',
                    img: 'img/6.jpg',
                    time: '19-3-3'
                },
                {
                    title: '主食',
                    link:'#',
                    img: 'img/7.jpg',
                    time: '19-3-3'
                },
                {
                    title: '甜点',
                    link:'#',
                    img: 'img/7.jpg',
                    time: '19-3-3'
                },
                {
                    title: '小吃',
                    link:'#',
                    img: 'img/7.jpg',
                    time: '19-3-3'
                },
                {
                    title: '果汁',
                    link:'#',
                    img: 'img/7.jpg',
                    time: '19-3-3'
                },
                {
                    title: '茶',
                    link:'#',
                    img: 'img/7.jpg',
                    time: '19-3-3'
                },
                {
                    title: '酒',
                    link:'#',
                    img: 'img/7.jpg',
                    time: '19-3-3'
                },
                {
                    title: '速冲饮品',
                    link:'#',
                    img: 'img/7.jpg',
                    time: '19-3-3'
                },
                {
                    title: '生活小妙招',
                    link:'content1.HTML',
                    img: 'img/7.jpg',
                    time: '19-3-3'
                },
                ],
                // 服饰二级标题
                clothTitles: [{
                    title: '鹅黄色圆领袍',
                    link:'#',
                    img: 'img/fushi/xh.png',
                    time: '19-3-3'
                },
                {
                    title: '粉色褙子',
                    link:'#',
                    img: 'img/fushi/fs.png',
                    time: '19-3-3'
                },
                {
                    title: '白色印花褙子',
                    link:'#',
                    img: 'img/fushi/bs.png',
                    time: '19-3-3'
                },
                {
                    title: '杏黄色圆领袍',
                    link:'#',
                    img: 'img/fushi/eh.png',
                    time: '19-3-3'
                },
                {
                    title: '湖蓝月白褙子',
                    link:'#',
                    img: 'img/fushi/hl.png',
                    time: '19-3-3'
                },
                ],
                // 首饰二级标题
                jewelryTitles: [{
                    title: '红麝串',
                    link:'#',
                    time: '19-3-3'
                },
                {
                    title: '花簪',
                    link:'#',
                    time: '19-3-3'
                },
                {
                    title: '茜香罗',
                    link:'#',
                    time: '19-3-3'
                },
                {
                    title: '细纱衫',
                    link:'#',
                    time: '19-3-3'
                },
                {
                    title: '摇团扇',
                    link:'#',
                    time: '19-3-3'
                },
                ],

                // 家具二级标题
                funitureTitles: [{
                    title: '中式庭园格局',
                    link:'#',
                    time: '19-3-3',
                    img: 'img/bg1.jpg',
                },
                {
                    title: '北欧风',
                    link:'#',
                    time: '19-3-3',
                    img: 'img/bg2.jpeg',
                },
                {
                    title: '新中式',
                    link:'#',
                    img: 'img/bg1.jpg',
                    time: '19-3-3'
                },
                ],
                // 医药二级标题
                medicineTitles: [{
                    title: '热喘：冷香丸',
                    link:'#',
                    img: 'img/bg1.jpg',
                    time: '19-3-3'
                },
                {
                    title: '解暑：香雪润津丹',
                    link:'#',
                    img: 'img/bg1.jpg',
                    time: '19-3-3'
                },
                {
                    title: '脾气暴躁：蒸梨调蜂蜜',
                    link:'#',
                    img: 'img/bg2.jpeg',
                    time: '19-3-3'
                },
                {
                    title: '肝气上逆：钩藤',
                    link:'#',
                    img: 'img/bg1.jpg',
                    time: '19-3-3'
                },
                {
                    title: '心脾不足：人参养荣丸',
                    link:'#',
                    img: 'img/bg2.jpeg',
                    time: '19-3-3'
                },
                ],
                // 风俗节庆二级标题
                festivalTitles: [{
                    title: '端午',
                    time: '19-3-3',
                    img: 'img/fengsu/dw.png',
                    link: 'content.html'
                },
                {
                    title: '三伏天',
                    time: '19-3-3',
                    link: 'content.html',
                    img: 'img/fengsu/ys.png'
                },
                {
                    title: '称呼',
                    time: '19-3-3',
                    link: 'content.html',
                    img: 'img/fengsu/ch.jpg'
                },
                {
                    title: '家宴礼俗',
                    time: '19-3-3',
                    link: 'content.html',
                    img: 'img/fengsu/jy.jpg'
                },
                ]
            },
            methods: {

            }
        });
        $(function () {
            //导航
            $(".com-nav-list").mouseenter(function () {
                $(this).children(".com-sub-box").stop(false, true).slideDown();
            }).mouseleave(function () {
                $(this).children(".com-sub-box").stop(false, true).slideUp();
            });
            $(".com-nav-list").click(function () {
                $(this).addClass("current-nav").siblings().removeClass("current-nav");
            });
        });
    </script>
</body>

</html>